<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="col col-10"><h3><%= @entity.name %></h3></div>
    <div class="col col-2"><%= link_to "Edit", edit_entity_path(@entity), class: "btn btn-primary" %></div>
  </div>
  <div class="row">
    <div class="col col-12 detail-tile">
    
      <p><strong>Contact Email:</strong> <%= @entity.email %></p>
      <p><strong>Naics Code:</strong> <%= @entity.naics_code %></p>
    </div>
  </div>
  <div class="row">
    <div class="col col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"># of Loans</h5>
          <p class="card-text"><%= @entity.loans.size %></p>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Principal</h5>
          <p><strong>Total:</strong> <%= @total_principal %></p>
          <p><strong>Due Next 12 Months:</strong> <%= @total_principal_due_next_12_months %></p>
          <p><strong>Previously Paid:</strong> <%= @total_principal_previously_due %></p>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Interest</h5>
          <p><strong>Total:</strong> <%= @total_interest %></p>
          <p><strong>Due Next 12 Months:</strong> <%= @total_interest_due_next_12_months %></p>
          <p><strong>Previously Paid:</strong> <%= @total_interest_previously_due %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <h3>Cash Flow (12 month horizon)</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <%= column_chart [
        {name: "Cash Flow", data: @cash_flow_map},
      ] %>
    </div>
  </div>
  <div class="row">
    <div class="col col-10">
      <h3>Loans for Entity</h3>
    </div>
    <div class="col col-2">
      <a href="<%= @entity.id %>/loans/new">
        <button class="btn btn-primary">Add Loan</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Principal</th>
            <th>Interest</th>
            <th>Term(months)</th>
            <th>Payment Frequency</th>
            <th>Start Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @entity.loans.each do |loan| %>
            <tr>
              <td><%= loan.name %></td>
              <td><%= loan.principal %></td>
              <td><%= loan.interest %></td>
              <td><%= loan.loan_term_in_months %></td>
              <td><%= loan.payment_frequency %></td>
              <td><%= loan.start_date %></td>
              <td>
                <a href="<%= @entity.id %>/loans/<%= loan.id %>">
                  <button class="btn btn-secondary">View</button>
                </a>
              </td>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

